STUETZSTELLENVERTEILUNG {{ param.name }} {{ param.size[0] }} {{ param.size[1] }}
{% if param.langname %}  LANGNAME "{{ param.langname }}"
{% endif -%}
{% if param.funktion %}  FUNKTION {{ param.funktion }}
{% endif -%}
{% if param.displayname %}  DISPLAYNAME {{ param.displayname }}
{% endif -%}
{% if param.einheit_x %}  EINHEIT_X "{{ param.einheit_x }}"
{% endif -%}
{% for i in range(0, param.st_x|length, param.values_per_line) %}  ST/X   {% for value in param.st_x[i:i+param.values_per_line] %}{{ format_value(value)}}   {% endfor %}
{% endfor -%}
END
